<div class="container">
  <div class="first-line">
<<<<<<< HEAD
    <h3 class="name mx-2"><%= @user.first_name %> <%= @user.last_name %><span class="hussl-big-yellow">.</span></h3>
=======
    <h4 class="name mx-2"><%= @user.first_name %> <%= @user.last_name %></h4>
>>>>>>> 866458a0b062b1dae4cc5232ac8e1af0d7197fe7
    <div id="main">
      <button class="openbtn btn btn-info">&#9776;</button>
    </div>
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn">&times;</a>
      <%= link_to 'Edit profile', edit_user_registration_path(current_user)  %>
      <%= link_to 'About hussl', root_path  %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete  %>
    </div>
  </div>

  <div class="px-3">
    <ul class="nav">
      <li class="nav-item">
        <h6><%= link_to 'Summary', user_profiles_path, class: 'nav-link tab-active profile-tabs' %></h6>
      </li>
      <li class="nav-item">
        <h6><%= link_to 'Notifications', user_notifications_path, class: 'nav-link profile-tabs' %></h6>
      </li>
      <li class="nav-item">
        <h6><%= link_to 'Saved', user_notifications_path, class: 'nav-link profile-tabs' %></h6>
      </li>
    </ul>
    <br>
    <h5>About Me</h5>
    <% if @user.description.present? %>
      <p><%= @user.description %></p>
    <% else %>
      <i>Edit your profile and introduce yourself to the husslr community!</i>
    <% end %>
    <br>
    <h4 class="">You have submitted...</h4>

    <div class="row">
      <div class="cards">
        <div class="problem-card text-center align-items-center d-block">
          <h3><%= @user.problems.count %></h3>
          <p><%= "problem".pluralize(@user.problems.count) %></p>
        </div>

        <div class="solution-card text-center align-items-center d-block">
          <h3><%= @user.solutions.count %></h3>
          <p><%= "solution".pluralize(@user.solutions.count) %></p>
        </div>

        <div class="pitch-card text-center align-items-center d-block">
          <h3><%= @user.pitches.count %></h3>
          <p><%= "pitch".pluralize(@user.pitches.count) %></p>
        </div>
      </div>
    </div>

    <div class="submitted">
      <h5>My posts</h5>
      <table>
        <tbody>
          <% @user.problems.each do |problem| %>
            <tr>
              <td class="user-problems text-center">P</td>
              <td><%= problem.title %></td>
              <td><%=  problem.votes.count %></td>
            </tr>
          <% end %>

          <% @user.solutions.each do |solution| %>
            <tr>
              <td class="user-solutions text-center">S</td>
              <td><%= solution.title %></td>
              <td><%=  solution.votes.count %></td>
            </tr>
          <% end %>

          <% @user.pitches.each do |pitch| %>
            <tr>
              <td class="user-pitches text-center">P</td>
              <td><%= pitch.title %></td>
              <td><%=  pitch.votes.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
