<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Ideate', problems_path %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @user.first_name %>'s Profile</li>
    </ol>
  </nav>
  <div class="first-line">
    <h2 class="name mx-2"><%= @user.first_name %> <%= @user.last_name %></h2>
    <div class="dropup ml-2">
      <button class="dropbtn"><i class="fas fa-bars"></i></button>
        <div class="dropup-content">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt"></i>
          <% end %>
      </div>
    </div>
  </div>

<h4 class="mx-2">You have submitted...</h4>

  <div class="row">
      <div class="cards">
        <div class="problem-card text-center">
          <%=pluralize(@user.problems.count, "problem") %>
        </div>

        <div class="solution-card text-center">
          <%=pluralize(@user.solutions.count, "solution") %>
        </div>

        <div class="pitch-card text-center">
          <%=pluralize(@user.pitches.count, "pitch") %>
        </div>
    </div>
  </div>

  <div class="submitted">
    <h6>My posts</h6>
    <table>
      <tbody>
        <% @user.problems.each do |problem| %>
          <tr>
            <td class="user-problems text-center">P</td>
            <td><%= problem.title %></td>
            <td><%=  problem.votes.count %></td>
          </tr>
        <% end %>

        <% @user.solutions.each do |solutions| %>
          <tr>
            <td class="user-solutions text-center">P</td>
            <td><%= solution.title %></td>
            <td><%=  solution.votes.count %></td>
          </tr>
        <% end %>

        <% @user.pitches.each do |pitch| %>
          <tr>
            <td class="user-pitches text-center">P</td>
            <td><%= pitch.title %></td>
            <td><%=  pitch.votes.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
