<h2>Pitches</h2>

<% @pitches.each do |pitch| %>
    <%= link_to pitch_path(pitch) do %>
        <div>
            <h5><%= pitch.title %> - Votes: <span><%= pitch.votes.count %></span></h5>
            <p><%= pitch.description %></p>
        </div>
    </a>
    <% end %>
<% end %>

<%= link_to 'Share a pitch', new_problem_solution_pitch_path %>