<div class="ideate-page">
  <div class="header">
    <div class="btn-profile">
      <div class="text-right mt-2" style="font-size:8vw">
        <%= link_to user_profiles_path(current_user) do %>
          <% if current_user.photo.attached? %>
            <span class="card-img-top"><%= cl_image_tag current_user.photo.key, height: 42, width: 42, crop: :fill, gravity: :face %></span>
          <% else %>
            <i class="far fa-user-circle"></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <h2>Ideate</h2>

    <ul class="nav">
      <li class="nav-item">
        <h4><%= link_to 'Problems', problems_path, class: 'nav-link tabs' %></h4>
      </li>
      <li class="nav-item">
        <h4><%= link_to 'Solutions', solutions_path, class: 'nav-link tabs' %></h4>
      </li>
      <li class="nav-item">
        <h4><%= link_to 'Pitches', pitches_path, class: 'nav-link tab-active tabs' %></h4>
      </li>
    </ul>
  </div>

  <div class="ideate-content-container pad-left">
    <% @pitches.each do |pitch| %>
      <%= link_to pitch_path(pitch) do %>
        <h4><%= pitch.title %></h4>
      <% end %>
      <p><%=h truncate(pitch.description, :length => 150) %></p>
      <div>
        <% if pitch.user.photo.attached? %>
          <p><span><%= cl_image_tag pitch.user.photo.key, height: 24, width: 24, crop: :fill, gravity: :face %> <%= pitch.user.first_name %> <%= pitch.user.last_name %></span></p>
          <% else %>
            <p><span><img src="https://res.cloudinary.com/docykmjwf/image/upload/v1600394322/default_profile_pic_cqfzoi.png" alt="user-avatar" style="crop:fill"> <%= pitch.user.first_name %> <%= pitch.user.last_name %></span></p>
        <% end %>
      </div>
      <p><span>
        <div class="actions">
          <% if Vote.where(votable: pitch, user:  current_user).empty? %>
            <%= link_to upvote_pitch_path(pitch, pitch.solution), method: :post, class: 'button'  do %>
              <i class="far fa-thumbs-up"></i>
            <% end %>
          <% else %>
            <i class="fas fa-thumbs-up"></i>
          <% end %>
          <%= pitch.votes.count %>
        </div>
      </span></p>
      <div>
        <p><%= local_time_ago(pitch.created_at) %></p>
      </div>
    <% end %>
  </div>
</div>
