<h3>Pitches</h3>

<div class="pitch-container">
  <% @pitches.each do |pitch| %>
      <%= link_to pitch_path(pitch) do %>
          <div>
              <h5><%= pitch.title %> - Votes: <span><%= pitch.votes.count %></span></h5>
              <p><%= pitch.description %></p>
          </div>
      </a>
      <% end %>
  <% end %>
</div>

<%= link_to 'Pitch Leaderboard', leaderboard_pitches_path %>
