<div class="ideate-page">
  <div class="header">
    <%= render "shared/header" %>
  </div>

  <div class="vertical-nav-container">
    <%= render "shared/vertical-navbar" %>
    <div class="sibling">
      <h2 class="mb-0 pad-left">Ideate</h2>

      <ul class="nav pad-left">
        <li class="nav-item">
          <h4><%= link_to 'Problems', problems_path, class: 'nav-link tabs' %></h4>
        </li>
        <li class="nav-item">
          <h4><%= link_to 'Solutions', solutions_path, class: 'nav-link tabs' %></h4>
        </li>
        <li class="nav-item">
          <h4><%= link_to 'Pitches', pitches_path, class: 'nav-link tab-active tabs' %></h4>
        </li>
      </ul>

      <div class="pad-left pad-right d-flex flex-wrap">
        <% @pitches.each do |pitch| %>
          <%= link_to pitch_path(pitch) do %>
            <% if pitch.photo.attached? %>
              <div class="pitch-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path pitch.photo.key, height: 234, width: 158, crop: :fill %>')">
                <div class="pitch-footer">
                  <h5><%= pitch.title %></h5>
                  <div class="pitch-votes">
                    <p><i class="far fa-thumbs-up"></i>
                    <%= pitch.votes.count %></p>
                  </div>
                </div>
              </div>
            <% elsif pitch.user.photo.attached? %>
              <div class="pitch-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path pitch.user.photo.key, height: 234, width: 158, crop: :fill %>')">
                <div class="pitch-footer">
                  <h5><%= pitch.title %></h5>
                  <div class="pitch-votes">
                    <p><i class="far fa-thumbs-up"></i>
                    <%= pitch.votes.count %></p>
                  </div>
                </div>
              </div>
            <% else %>
              <div class="pitch-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/200x300/?people')">
                <div class="pitch-footer">
                  <h5><%= pitch.title %></h5>
                  <div class="pitch-votes">
                    <p><i class="far fa-thumbs-up"></i>
                    <%= pitch.votes.count %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
