<div class="container form-container">
  <h3>Submit a pitch</h3>

  <p>You are submitting a pitch for...</p>
  <h3><%= @solution.title %></h3>

  <%# insert solution card here %>
  <div class="pb-4">
    <%= render "solutions/showcard" %>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form">
        <%= simple_form_for [ @problem, @solution, @pitch ] do |f| %>
          <%= f.input :title , placeholder: "Let's hear it!" %>
          <%= f.input :description, label: "Tell us more", placeholder: "Introduce your million dollar pitch here! Please explain how your pitch will solve this problem." %>
          <%= f.input :link %>
          <%= f.input :photo, as: :file %>
          <%= f.button :submit, "Pitch your solution", class: "btn btn-info" %>
        <% end %>
      </div>
      <div class="cancel d-flex justify-content-center pb-5">
        <%= link_to "Cancel", solution_path(@solution) %>
      </div>
    </div>
  </div>
</div>
