<% if problem.category === tag || tag == "rerender" %>
  <div id=<%= "problem_#{problem.id}" %>>
    <div class="problem-card dark-blue">
      <%= link_to problem_path(problem), class: "card-full-link" do %><% end %>
      <div class="problem-card-inner">
        <div class="text-left open-quote" style="color: white; opacity: 0.5;">
          <small><i class="fas fa-quote-left"></i></small>
        </div>
        <div class="card-title">
          <h5 class="pl-3"><%= problem.title %></h5>
          <div class="time-ago">
            <p><%= local_time_ago(problem.created_at) %></p>
          </div>
        </div>
      </div>
      <div class="card-actions">
        <div class="author">
          <%= link_to user_path(problem.user) do %>
            <% if problem.user.photo.attached? %>
              <p><span><%= cl_image_tag problem.user.photo.key, height: 36, width: 36, crop: :fill, gravity: :face %> <%= problem.user.first_name %> <%= problem.user.last_name.first %></span></p>
            <% else %>
              <p><span><img class="avatar-small" src="https://res.cloudinary.com/docykmjwf/image/upload/v1600394322/default_profile_pic_cqfzoi.png" alt="user-avatar" style="crop:fill"> <%= problem.user.first_name %> <%= problem.user.last_name.first %></span></p>
            <% end %>
          <% end %>
        </div>
        <div class="votes">
          <% if Vote.where(votable: problem, user:  current_user).empty? && star != false %>
            <%= link_to upvote_problem_path(problem), method: :post, remote: true,  class: 'button'  do %>
              <i class="far fa-thumbs-up"></i>
            <% end %>
          <% else %>
            <i class="fas fa-thumbs-up"></i>
          <% end %>
          <!-- comment button? -->
          <p><%= problem.votes.count %></p>
        </div>
        <div class="solutions">
          <svg class="solution-icon"xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-width="1.5" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z" />
          </svg>
          <p><%= problem.solutions.count %></p>
        </div>
      </div>
      <div class="arrow bottom right"></div>
    </div>
  </div>
<% end %>
