<div class="ideate-page container">

  <div class="text-right" style="font-size:7vw">
    <%= link_to user_profiles_path(current_user) do %>
      <i class="far fa-user"></i>
    <% end %>
  </div>

  <h2>Ideate</h2>

  <%= render "shared/ideate-tabs" %>

  <% @categories.each do |tag| %>
  <div class="card-carousel">
    <h5 class="pt-4 mb-0"><%= tag.upcase %></h5>
    <div class="card-carousel-scroller">
      <% @problems.each do |problem| %>
        <%= render "problem_card", problem: problem, tag: tag, star: true %>
      <% end %>
    </div>
  </div>

  <% end %>
  <%= link_to 'Share a problem', new_problem_path %>
</div>
