<div class="ideate-page container">
  <h2>Ideate</h2>

  <%= render "shared/ideate-tabs" %>

  <% @categories.each do |tag| %>
    <%= tag %>
    <% @problems.each do |problem| %>
      <% if problem.category === tag %>
          <div>
            <%= link_to problem_path(problem) do %>
              <h5><%= problem.title %></h5>
            <% end %>
            <p><%=h truncate(problem.description, :length => 150) %></p>
          </div>
          <div>
            <% if problem.user.photo.attached? %>
              <p><span><%= cl_image_tag problem.user.photo.key, height: 24, width: 24, crop: :fill, gravity: :face %> <%= problem.user.first_name %> <%= problem.user.last_name %></span></p>
              <% else %>
                <p><span><img src="https://res.cloudinary.com/docykmjwf/image/upload/c_scale,h_24/v1600307295/default_profile_pic_ypyuhz.png" alt="user-avatar" style="crop:fill"> <%= problem.user.first_name %> <%= problem.user.last_name %></span></p>
            <% end %>
          </div>
          <div>
            <p><span>
              <div class="actions">
                <% if Vote.where(votable: problem, user:  current_user).empty? %>
                  <%= link_to upvote_problem_path(problem), method: :post, class: 'button'  do %>
                    <i class="far fa-star"></i>
                  <% end %>
                <% else %>
                  <i class="fas fa-star"></i>
                <!-- comment button? -->
                <% end %>
                <%= problem.votes.count %>
              </div>
            </span></p>
          </div>
          <div>
            <p><%= local_time_ago(problem.created_at) %></p>
          </div>
      <% end %>
    <% end %>
  <% end %>


  <%= link_to 'Share a problem', new_problem_path %>
</div>
