<h1>Ideate</h1>

<ul class="nav">
  <li class="nav-item">
    <h2><%= link_to 'Problems', problems_path, class: 'nav-link active' %></h2>
  </li>
  <li class="nav-item">
    <h2><%= link_to 'Solutions', solutions_path, class: 'nav-link' %></h2>
  </li>
  <%# <li class="nav-item">
  <h2><%= link_to 'Pitches', pitches_path, class: 'nav-link' %></h2>
  <%# </li> %>
</ul>

<% @problems.each do |problem| %>
  <%= link_to problem_path(problem) do %>
  <div>
    <h5><%= problem.title %></h5>
		<p><%= problem.description %></p>
    <div>
      <p>Votes: <%= problem.votes.count %></p>
    </div>
  </div>
  <% end %>
<% end %>

<%= link_to 'Share a problem', new_problem_path %>
<%= link_to 'Leaderboard', leaderboard_problems_path %>