<h1>Ideate</h1>

<ul class="nav">
  <li class="nav-item">
    <h2><%= link_to 'Problems', problems_path, class: 'nav-link active' %></h2>
  </li>
  <li class="nav-item">
    <h2><%= link_to 'Solutions', solutions_path, class: 'nav-link' %></h2>
  </li>
  <%# <li class="nav-item">
  <h2><%= link_to 'Pitches', pitches_path, class: 'nav-link' %></h2>
  <%# </li> %>
</ul>

<% @problems.each do |problem| %>
  <%= link_to problem_path(problem) do %>
  <div>

    <h5><%= problem.title %> - <span><%= pluralize(problem.votes.count, "vote") %></span></h5>

	
    <p><%=h truncate(problem.description, :length => 150) %></p>
    
    <div>
      <p>Votes: <%= problem.votes.count %></p>
    </div>
  </div>

  <div class="actions">
    <% if Vote.where(votable: problem, user:  current_user).empty? %>
      <%= link_to upvote_problem_path(problem), method: :post, class: 'button'  do %>
        <i class="far fa-star"></i>
      <% end %>
    <% else %>
      <i class="fas fa-star"></i>
    <!-- comment button? -->
    <% end %>
  </div>

  <% end %>
<% end %>

<%= link_to 'Share a problem', new_problem_path %>
<%= link_to 'Leaderboard', leaderboard_problems_path %>


