<div class="ideate-page container">

  <div class="mr-4 d-flex justify-content-between" style="font-size:7vw">
      <h2>Ideate</h2>
        <%= link_to user_profiles_path(current_user) do %>
      <i class="far fa-user"></i>
    <% end %>

  </div>



  <%= render "shared/ideate-tabs" %>

  <% @categories.each do |tag| %>

    <%= tag %>
    <% @problems.each do |problem| %>

      <%= render "problem_card", problem: problem, tag: tag, star: true %>

    <% end %>
  <% end %>
  <%= link_to 'Share a problem', new_problem_path %>
</div>
