<div class="container">
  <h2>Leaderboard</h2>

	<ul class="nav">
		<li class="nav-item">
			<h4><%= link_to 'Problems', leaderboard_problems_path, class: 'nav-link tab-active tabs' %></h4>
		</li>
		<li class="nav-item">
			<h4><%= link_to 'Solutions', leaderboard_solutions_path, class: 'nav-link tabs' %></h4>
		</li>
		<li class="nav-item">
			<h4><%= link_to 'Pitches', leaderboard_pitches_path, class: 'nav-link tabs' %></h4>
		</li>
	</ul>

	<% @votes.first(10).each do |vote| %>
			<% problem = Problem.find(vote.first) %>
			<%= link_to problem_path(problem) do %>
					<div>
							<p><%= problem.title %><%= vote.last %></p>
					</div>
			<% end %>
	<% end %>
</div>
