<div class="ideate-page">
  <div class="header">
		<%= render "shared/header" %>
	</div>

	<div class="vertical-nav-container">
		<%= render "shared/vertical-navbar" %>
		<div class="sibling">
			<h2 class="pad-left">Leaderboard</h2>

		<ul class="nav pad-left">
			<li class="nav-item">
				<h4><%= link_to 'Problems', leaderboard_problems_path, class: 'nav-link tab-active tabs' %></h4>
			</li>
			<li class="nav-item">
				<h4><%= link_to 'Solutions', leaderboard_solutions_path, class: 'nav-link tabs' %></h4>
			</li>
			<li class="nav-item">
				<h4><%= link_to 'Pitches', leaderboard_pitches_path, class: 'nav-link tabs' %></h4>
			</li>
		</ul>
	</div>

	<div class="ideate-content-container leaderboard-content-container pad-left">
		<ol class="ranking-list">
			<div class="top-three-items">
				<div data-aos="zoom-out" data-aos-offset="300" data-oas-easing="ease-in-sine">
					<% @votes.first(3).each do |vote| %>
						<% problem = Problem.find(vote.first) %>
							<li>
								<%= link_to problem_path(problem) do %>
									<div class="top ranking-item">
										<p class="px-2"><%= problem.title %></p>
										<p class="d-inline-flex"><i class="far fa-thumbs-up pr-1"></i><%= problem.votes.count %></p>
									</div>
								<% end %>
							</li>	
					<% end %>
				</div>
			</div>
			<% @votes.last(7).each do |vote| %>
				<% problem = Problem.find(vote.first) %>
				<li>
					<%= link_to problem_path(problem) do %>
						<div class="ranking-item">
							<p class="px-2"><%= problem.title %></p>
							<p class="d-inline-flex"><i class="far fa-thumbs-up pr-1"></i><%= problem.votes.count %></p>
						</div>
					<% end %>
				</li>
				<% end %>
		</ol>
	</div>
	
</div>
