<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form">
        <h4>Share a problem</h4>

        <%= simple_form_for(@problem) do |f| %>
          <%= f.input :title, placeholder: "Enter your problem title" %>
          <%= f.input :description, placeholder: "Describe your problem" %>
          <%= f.input :category, collection: Problem::CATEGORY %>
          <%= f.button :submit, "Share problem", class: "btn btn-info" %>
        <% end %>
        
      </div>
      <%= link_to "Cancel", problems_path %>  
    </div>
  </div>
</div>



