<h2>Share a problem</h2>

<%= simple_form_for(@problem) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :category, collection: Problem::CATEGORY %>
  <%= f.submit %>
<% end %>