<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form">
        <h4>Share a problem</h4>

        <%= simple_form_for(Problem.new) do |f| %>
          <%= f.input :title, label: "You've got a problem? Share it!", placeholder: "Keep it short & sweet." %>
          <%= f.input :description, label: "Tell us more", placeholder: "Please add some details to describe your problem. Think 'Who, What, Where, When and How?'" %>
          <%= f.input :category, collection: Problem::CATEGORY %>
          <%= f.button :submit, "Share problem", class: "btn btn-info" %>
        <% end %>

      </div>

      <div class="cancel d-flex justify-content-center">
          <%= link_to "Cancel", problems_path %>
      </div>

    </div>
  </div>
</div>



