<div>
	<h2><%= @problem.title %></h2>
</div>

<div>
	<h5>Problem</h5>
    <div class="actions">
      <% if Vote.where(votable: @problem, user:  current_user).empty? %>
        <%= link_to upvote_problem_path(@problem), method: :post, class: 'button'  do %>
          <i class="far fa-star"></i>
        <% end %>
      <% else %>
        <i class="fas fa-star"></i>
      <% end %>
    </div>

	<p><%= @problem.description %></p>
	<h6>POSTED BY</h6>
	<p><%= @problem.user.first_name %> <%= @problem.user.last_name %></p>
	<div>
		<p><span>Votes: <%= @problem.votes.count %> | Solutions: <%= @solutions.count %><span></p>
	</div>
</div>

<br>

<div>
	<h4>Solutions</h4>
	<div>
		<% @solutions.each do |solution| %>
       <div class="actions">
        <% if Vote.where(votable: solution, user:  current_user).empty? %>
          <%= link_to upvote_problem_solution_path(solution), method: :post, class: 'button'  do %>
            <i class="far fa-star"></i>
          <% end %>
        <% else %>
          <i class="fas fa-star"></i>
        <% end %>
      </div>

		<h5><%= link_to solution.title, solution_path(solution) %></h5>
		<%# Need to fix error with problem_id and id swapped in url path %>
		<p><%= solution.description %></p>
		<% end %>
	</div>
</div>

<div>
	<%= link_to 'Submit a solution', new_problem_solution_path(@problem) %>
</div>
