<div class="btn-back">
  <%= link_to "Back", @back_url %>
</div>

<div>
	<h2><%= @problem.title %></h2>
</div>

<div>
	<h5>Problem</h5>
    <div class="actions">
      <% if Vote.where(votable: @problem, user:  current_user).empty? %>
        <%= link_to upvote_problem_path(@problem), method: :post, class: 'button'  do %>
          <i class="far fa-star"></i>
        <% end %>
      <% else %>
        <i class="fas fa-star"></i>
      <% end %>
      <span><%= @problem.votes.count %></span>
    </div>

	<p><%= @problem.description %></p>
	<h6>POSTED BY</h6>
	<p><%= @problem.user.first_name %> <%= @problem.user.last_name %></p>
	<div>
		<p><span>Votes: <%= @problem.votes.count %> | Solutions: <%= @solutions.count %><span></p>
	</div>
   <div>
      <p><%= local_time_ago(@problem.created_at) %></p>
    </div>
</div>

<br>

<div>
	<h4>Solutions</h4>
	<div>
		<% @solutions.each do |solution| %>

      <div>
        <p><%= local_time_ago(solution.created_at) %></p>
      </div>

			<h5><%= link_to solution.title, solution_path(solution) %></h5>
			<p><%= solution.description %></p>

      <div class="actions">
        <% if Vote.where(votable: solution, user:  current_user).empty? %>
          <%= link_to upvote_problem_path(solution), method: :post, class: 'button'  do %>
            <i class="far fa-star"></i>
          <% end %>
        <% else %>
          <i class="fas fa-star"></i>      
        <% end %>
        <span><%= solution.votes.count %></span>

        <% if solution.collaborators.include?(current_user) %>
          <i class="fas fa-hand-paper"></i>
        <% else %>
          <%= link_to collaborate_solution_path(solution), method: :post, class: 'button'  do %>
            <i class="far fa-hand-paper"></i>
          <% end %>
        <% end %>
        <span><%= solution.collaborators.count %></span>
      </div>
		<% end %>
	</div>
</div>

<div>
	<%= link_to 'Submit a solution', new_problem_solution_path(@problem) %>
</div>
