<div class="chat-container">
  <div class="head">
    <h3 class="text-center mb-4"><%= @chatroom.name %></h3>
    <%= link_to new_problem_solution_pitch_path(@chatroom.solution.problem, @chatroom.solution) do %>
      <span class="iconify upload-btn" data-icon="heroicons-outline:upload" data-inline="false"></span>
    <% end %>
  </div>

  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <%= render partial: 'messages/message', locals: { message: message } %>
    <% end %>
  </div>

  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Type your message..." %>
    <%= f.button :submit, 'Send', class: 'btn' %>
  <% end %>
</div>