<%# Problem: user can vote, comment, submit solution %>
<%# Solution: user can vote, comment, request collaboration, submit pitch %>
<%# Pitch: users can vote, comment %>

<%# Notifications "USER commented on the problem PROBLEM_NAME" %>
<% if notif.notifiable_type == "Problem" && notif.action == "commented" %>
  <%= link_to problem_path(notif.notifiable) do %> 
    <li class="notif-item">
      <p>
        <strong>
          <%= notif.actor.first_name %> <%= notif.actor.last_name %>
        </strong>
          <%= notif.action %> on the problem 
        <strong>
          <%= notif.notifiable.title %>
        </strong>
      </p> 
      <small><%= local_time_ago(notif.created_at) %></small>
    </li>
  <% end %>
<% end %>

<%# Notifications "USER voted on the problem PROBLEM_NAME" %>
<% if notif.notifiable_type == "Problem" && notif.action == "voted" %>
  <%= link_to problem_path(notif.notifiable) do %> 
    <li class="notif-item">
      <p>
        <strong>
          <%= notif.actor.first_name %> <%= notif.actor.last_name %>
        </strong>
          <%= notif.action %> on the problem 
        <strong>
          <%= notif.notifiable.title %>
        </strong>
      </p> 
      <small><%= local_time_ago(notif.created_at) %></small>
    </li>
  <% end %>
<% end %>

<%# Notifications "USER voted on the solution SOLUTION_NAME" %>
<% if notif.notifiable_type == "Solution" && notif.action == "voted" %>
  <%= link_to solution_path(notif.notifiable) do %> 
    <li class="notif-item"><p><strong><%= notif.actor.first_name %> <%= notif.actor.last_name %></strong> <%= notif.action %> on the solution <strong><%= notif.notifiable.title  %></strong></p> <small><%= local_time_ago(notif.created_at) %></small></li>
  <% end %>
<% end %>

<%# Notifications "USER commented on the solution SOLUTION_NAME" %>
<% if notif.notifiable_type == "Solution" && notif.action == "commented" %>
  <%= link_to solution_path(notif.notifiable) do %> 
    <li class="notif-item">
      <p>
        <strong>
          <%= notif.actor.first_name %> <%= notif.actor.last_name %>
        </strong>
          <%= notif.action %> on the solution 
        <strong>
          <%= notif.notifiable.title %>
        </strong>
      </p> 
      <small><%= local_time_ago(notif.created_at) %></small>
    </li>
  <% end %>
<% end %>

<%# Notifications "USER requested to collaborate on SOLUTION_NAME" %>
<% if notif.notifiable_type == "Collaboration" && notif.action == "requested" %>
  <%= link_to solution_path(notif.notifiable) do %> 
    <li class="notif-item"><p><strong><%= notif.actor.first_name %> <%= notif.actor.last_name %></strong> <%= notif.action %> to collaborate on <strong><%= notif.notifiable.solution.title %></strong></p> <small><%= local_time_ago(notif.created_at) %></small></li>
  <% end %>
<% end %>

<%# Notifications "USER accepted collaboration request for SOLUTION_NAME" %>
<% if notif.notifiable_type == "Collaboration" && notif.action == "accepted"%>
  <%= link_to solution_path(notif.notifiable) do %> 
    <li class="notif-item"><p><strong><%= notif.actor.first_name %> <%= notif.actor.last_name %></strong> <%= notif.action %> your collaboration request for <strong><%= notif.notifiable.solution.title %></strong></p> <small><%= local_time_ago(notif.created_at) %></small></li>
  <% end %>
<% end %>

<%# Notifications "USER voted for the pitch PITCH_NAME" %>
<% if notif.notifiable_type == "Pitch" && notif.action == "voted" %>
  <%= link_to pitch_path(notif.notifiable) do %> 
    <li class="notif-item"><p><strong><%= notif.actor.first_name %> <%= notif.actor.last_name %></strong> <%= notif.action %> for the pitch <strong><%= notif.notifiable.solution.title  %></strong></p> <small><%= local_time_ago(notif.created_at) %></small></li>
  <% end %>
<% end %>

<%# Notifications "USER commented on the pitch PITCH_NAME" %>
<% if notif.notifiable_type == "Pitch" && notif.action == "commented" %>
  <%= link_to pitch_path(notif.notifiable) do %> 
    <li class="notif-item">
      <p>
        <strong>
          <%= notif.actor.first_name %> <%= notif.actor.last_name %>
        </strong>
          <%= notif.action %> on the pitch 
        <strong>
          <%= notif.notifiable.title %>
        </strong>
      </p> 
      <small><%= local_time_ago(notif.created_at) %></small>
    </li>
  <% end %>
<% end %>

<%# Notifications "USER submitted a solution for PROBLEM_NAME" %>
<% if notif.notifiable_type == "Solution" && notif.action == "submitted" %>
  <%= link_to problem_path(notif.notifiable) do %> 
    <li class="notif-item"><p><strong><%= notif.actor.first_name %> <%= notif.actor.last_name %></strong> <%= notif.action %> a solution for <strong><%= notif.notifiable.title  %></strong></p> <small><%= local_time_ago(notif.created_at) %></small></li>
  <% end %>
<% end %>