<div class="home-card banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div id="main" class="text-right px-3">
    <button class="openbtn btn btn-info">&#9776;</button>
  </div>
  
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn">&times;</a>
    <a href="#" class="hussl-big-white">hussl<span class="hussl-big-yellow">.</span></span></a>
    <%= link_to 'About hussl', root_path %>
    <% if !user_signed_in? %>
      <%= link_to 'Sign Up', new_user_registration_path %>
      <%= link_to 'Login', new_user_session_path %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% end %>
  </div>

  <div>
    <h1 class="hussl-big-white">hussl<span class="hussl-big-yellow">.</span></h1>
    <p class="hussl-small-white tagline">For the problem solvers, idea thinkers and future founders.</p>
  </div>

  <% unless user_signed_in? %>
    <div class="cta px-3">
      <h5>Start ideating now</h5>
      <%= link_to 'Start to hussl', problems_path, class: 'btn' %>
    </div>
  <% end %>

  <div class="home-arrow">
    <a href="#second">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="white" d="M12 16a1 1 0 0 1-.64-.23l-6-5a1 1 0 1 1 1.28-1.54L12 13.71l5.36-4.32a1 1 0 0 1 1.41.15a1 1 0 0 1-.14 1.46l-6 4.83A1 1 0 0 1 12 16z"/></svg></a>
    <%= render "shared/navbar" if user_signed_in? %>
  </div>
</div>

<div class="home-card" id="second">
  <div class="head-how">
    <h3>How it works</h3>
  </div>

  <div class="step-card-container">
    <div class="step-card">
      <svg class="circle-icon " xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="white"><path d="M17 9A5 5 0 0 0 7 9a1 1 0 0 0 2 0a3 3 0 1 1 3 3a1 1 0 0 0-1 1v2a1 1 0 0 0 2 0v-1.1A5 5 0 0 0 17 9z"/><circle cx="12" cy="19" r="1"/></g></svg>
      <p class="">Read through people's <b>problems</b></p>
    </div>

    <div class="step-card">
      <svg class="circle-icon " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-width="1.5" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z" />
      </svg>
      <p>Think of a good <b>solution</b></p>
    </div>

    <div class="step-card">
      <i class="far fa-hand-paper circle-icon " id="hand"></i>
      <p class=""><b>Collaborate</b> with others on your solution</p>
    </div>

    <div class="step-card">
      <svg class="circle-icon " id="present" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none"><path d="M8 13v-1m4 1v-3m4 3V8M8 21l4-4l4 4M3 4h18M4 4h16v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V4z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg>
      <p class=""><b>Pitch</b> your project!</p>
    </div>
  </div>
  <div class="px-4">
    <%= link_to 'Start to hussl', problems_path, class: 'btn' %>
  </div>
</div>  

