<div class="login-bg">

  <div class="row">

    <div class="col-xs-12 col-sm-4 col-sm-offset-4 padding-none">
      <div>
        <h1 class="hussl-big-white">hussl<span class="hussl-big-yellow">.</span></h1>
        <h4 class="hussl-small-white">Make it happen.</h4>
      </div>
      <div class="form-login">
        <h4>Log in</h4>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in", class: "btn btn-info" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</div>



