<h1>Ideate</h1>

<ul class="nav">
  <li class="nav-item">
    <h2><%= link_to 'Problems', problems_path, class: 'nav-link' %></h2>
  </li>
  <li class="nav-item">
    <h2><%= link_to 'Solutions', solutions_path, class: 'nav-link active' %></h2>
  </li>
  <%# <li class="nav-item">
  <h2><%= link_to 'Pitches', pitches_path, class: 'nav-link' %></h2>
  <%# </li> %>
</ul>

<% @solutions.each do |solution| %>
  <%= link_to solution_path(solution) do %>
  <div>
    <h5><%= solution.title %></h5>

		<p><%=h truncate(solution.description, :length => 150) %></p>
    
  </div>

  <div>
    <p>Votes: <%= solution.votes.count %></p>
  </div>
  <% end %>
<% end %>

<%# <%= link_to 'Solution Leaderboard', leaderboard_problem_solutions_path %>
