<div class="ideate-page container">
  <h2>Ideate</h2>

  <%= render "shared/ideate-tabs" %>

  <div class="solution-container">
    <% @categories.each do |tag| %>
      <%= tag %>
      <% @solutions.each do |solution| %>
        <% if solution.problem.category === tag %>
          <%= link_to solution_path(solution) do %>
            <div>
              <h4><%= solution.title %></h4>
              <p><%=h truncate(solution.description, :length => 150) %></p>

              <div class="actions">
                <% if Vote.where(votable: solution, user:  current_user).empty? %>
                  <%= link_to upvote_solution_path(solution, solution.problem), method: :post, class: 'button'  do %>
                    <i class="far fa-thumbs-up"></i>
                  <% end %>
                <% else %>
                  <i class="fas fa-thumbs-up"></i>
                <% end %>

                <span><%= solution.votes.count %></span>

                <% if solution.collaborators.include?(current_user) %>
                  <i class="fas fa-hand-paper"></i>
                <% else %>
                  <%= link_to collaborate_solution_path(solution), method: :post, class: 'button'  do %>
                    <i class="far fa-hand-paper"></i>
                  <% end %>
                <% end %>
                <span><%= solution.collaborators.count %></span>

                <div>
                  <p><%= local_time_ago(solution.created_at) %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
