<h2>Ideate</h2>

<ul class="nav">
  <li class="nav-item">
    <h4><%= link_to 'Problems', problems_path, class: 'nav-link' %></h4>
  </li>
  <li class="nav-item">
    <h4><%= link_to 'Solutions', solutions_path, class: 'nav-link active' %></h4>
  </li>
  <li class="nav-item">
    <h4><%= link_to 'Pitches', pitches_path, class: 'nav-link' %></h4>
  </li>
</ul>

<div class="solution-container">
  <% @solutions.each do |solution| %>
    <%= link_to solution_path(solution) do %>
    <div>
      <h4><%= solution.title %></h4>
      <p><%=h truncate(solution.description, :length => 150) %></p>

      <div class="actions">
        <% if Vote.where(votable: solution, user:  current_user).empty? %>
          <%= link_to upvote_solution_path(solution, solution.problem), method: :post, class: 'button'  do %>
            <i class="far fa-star"></i>
          <% end %>
        <% else %>
          <i class="fas fa-star"></i>
        <% end %>
        <span><%= solution.votes.count %></span>

        <% if solution.collaborators.include?(current_user) %>
          <i class="fas fa-hand-paper"></i>
        <% else %>
          <%= link_to collaborate_solution_path(solution), method: :post, class: 'button'  do %>
            <i class="far fa-hand-paper"></i>
          <% end %>
        <% end %>
        <span><%= solution.collaborators.count %></span>

        <p>Votes: <%= solution.votes.count %></p>
      </div>

    </div>

    <% end %>
  <% end %>
</div>

<%= link_to 'Solution Leaderboard', leaderboard_solutions_path %>
