<div class="ideate-page">
  <div class="header">
    <%= render "shared/header" %>
  </div>

  <div class="vertical-nav-container">
    <%= render "shared/vertical-navbar" %>
    <div class="sibling">

      <h2 class="mb-0 pad-left">Ideate</h2>

      <ul class="nav">
        <li class="nav-item">
          <h4><%= link_to 'Problems', problems_path, class: 'nav-link tabs' %></h4>
        </li>
        <li class="nav-item">
          <h4><%= link_to 'Solutions', solutions_path, class: 'nav-link tab-active tabs' %></h4>
        </li>
        <li class="nav-item">
          <h4><%= link_to 'Pitches', pitches_path, class: 'nav-link tabs' %></h4>
        </li>
      </ul>

      <div class="ideate-content-container pad-left ">
        <% @categories.each do |tag| %>
          <div class="card-carousel">
            <h5 class="pt-4 mb-0"><%= tag.upcase %></h5>
            <div class="card-carousel-scroller">
              <% @solutions.each do |solution| %>
                <%= render "solution-card", solution: solution, tag: tag, star: true %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

