<div class="ideate-page">
  <div class="header">
    <div class="btn-profile">
      <div class="text-right" style="font-size:7vw">
        <%= link_to user_profiles_path(current_user) do %>
          <i class="far fa-user"></i>
        <% end %>
      </div>
    </div>
		<h2>Leaderboard</h2>

		<ul class="nav">
			<li class="nav-item">
				<h4><%= link_to 'Problems', leaderboard_problems_path, class: 'nav-link tabs' %></h4>
			</li>
			<li class="nav-item">
				<h4><%= link_to 'Solutions', leaderboard_solutions_path, class: 'nav-link tab-active tabs' %></h4>
			</li>
			<li class="nav-item">
				<h4><%= link_to 'Pitches', leaderboard_pitches_path, class: 'nav-link tabs' %></h4>
			</li>
		</ul>
	</div>
<div class="ideate-content-container leaderboard-content-container pad-left">
	<% @votes.first(10).each do |vote| %>
		<% solution = Solution.find(vote.first) %>
		<%= link_to solution_path(solution) do %>
			<div>
				<p><%= solution.title %> Votes: <%= vote.last %></p>
			</div>
		<% end %>
	<% end %>
	</div>
</div>