<div class="container mb-4">
  <h3>Submit a solution</h3>
  <p>You are submitting a pitch for...</p>
  <h3><%= @problem.title %></h3>

  <div>
    <%= render "problems/show-card" %>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form">

        <%= simple_form_for [ @problem, @solution ] do |f| %>
          <%= f.input :title, placeholder: "What is your solution to this problem?" %>
          <%= f.input :description, label: "Tell us more", placeholder: "Describe in detail, how your solution will solve this problem." %>
          <%= f.input :category, collection: Problem::CATEGORY %>
          <%= f.button :submit, "Submit solution", class: "btn btn-info" %>
        <% end %>

      </div>

      </div>

       <div class="cancel d-flex justify-content-center">
        <%= link_to "Cancel", problem_path(@problem) %>
      </div>

      </div>

    </div>
  </div>
</div>
