<div class="container">
  <h3>Submit a solution</h3>
  <p>You are submitting a pitch for...</p>

  <div>
    <%= render "problems/show-card" %>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form">
        
        <%= simple_form_for [ @problem, @solution ] do |f| %>
          <%= f.input :title, placeholder: "Enter your solution title" %>
          <%= f.input :description, placeholder: "Enter your full solution description" %>
          <%= f.input :category, collection: Problem::CATEGORY %>
          <%= f.button :submit, "Submit solution", class: "btn btn-info" %>
        <% end %>
        
      </div>
    
      </div>
        <%= link_to "Cancel", problem_path(@problem) %>  
      </div>
      
    </div>
  </div>
</div>
