<div>
	<h2><%= @solution.title %></h2>
    <div class="actions">
      <% if Vote.where(votable: @solution, user:  current_user).empty? %>
        <%= link_to upvote_solution_path(@solution, @solution.problem), method: :post, class: 'button'  do %>
          <i class="far fa-star"></i>
        <% end %>
      <% else %>
        <i class="fas fa-star"></i>
      <% end %>
      <span><%= @solution.votes.count %></span>
      
      <% if @solution.collaborators.include?(current_user) %>
        <i class="fas fa-hand-paper"></i>
      <% else %>
        <%= link_to collaborate_solution_path(@solution), method: :post, class: 'button'  do %>
          <i class="far fa-hand-paper"></i>
        <% end %>
      <% end %>
      <span><%= @solution.collaborators.count %></span>
      
    </div>
</div>

<div>
	<h5>Solving</h5>
  <p><%= @solution.problem.title %></p>
  <h5>Description</h5>
	<p><%= @solution.description %></p>
	<h6>POSTED BY</h6>
	<p><%= @solution.user.first_name %> <%= @solution.user.last_name %></p>
  <h6>COLLABORATORS</h6>
	<% @solution.collaborators.each do |user|%> 
  <p><%= user.first_name %> <%= user.last_name  %></p>
  <% end %>
	<div>
		<p>Votes: <%= @solution.votes.count %></p>
	</div>
</div>


<div>
	<h4>Pitches</h4>
	<div>
		<% @pitches.each do |pitch| %>
			<h5><%= link_to pitch.title, pitch_path(pitch) %></h5>

			<p><%= pitch.description %></p>

      <div class="actions">
        <% if Vote.where(votable: pitch, user:  current_user).empty? %>
          <%= link_to upvote_problem_path(pitch), method: :post, class: 'button'  do %>
            <i class="far fa-star"></i>
          <% end %>
        <% else %>
          <i class="fas fa-star"></i>
        <% end %>
        <span><%= pitch.votes.count %></span>

      </div>
		<% end %>
	</div>


</div>

<%= link_to 'Submit a pitch', new_problem_solution_pitch_path(@solution.problem, @solution) %>
