<div class="ideate-page">

  <div>
    <h2><%= @solution.title %></h2>
      <div class="actions">
        <% if Vote.where(votable: @solution, user:  current_user).empty? %>
          <%= link_to upvote_solution_path(@solution, @solution.problem), method: :post, class: 'button'  do %>
            <i class="far fa-thumbs-up"></i>
          <% end %>
        <% else %>
          <i class="fas fa-thumbs-up"></i>
        <% end %>
        <span><%= @solution.votes.count %></span>

        <% if @solution.collaborators.include?(current_user) %>
          <i class="fas fa-hand-paper"></i>
        <% else %>
          <%= link_to collaborate_solution_path(@solution), method: :post, class: 'button'  do %>
            <i class="far fa-hand-paper"></i>
          <% end %>
        <% end %>
        <span><%= @solution.collaborators.count %></span>
      </div>
  </div>

  <div>
    <h5>Solving</h5>
    <p><%= @solution.problem.title %></p>
    <h5>Description</h5>
    <p><%= @solution.description %></p>
    <h6>POSTED BY</h6>
    <div>
      <% if @solution.user.photo.attached? %>
        <p><span><%= cl_image_tag @solution.user.photo.key, height: 24, width: 24, crop: :fill, gravity: :face %> <%= @solution.user.first_name %> <%= @solution.user.last_name %></span></p>
        <% else %>
          <p><span><img src="https://res.cloudinary.com/docykmjwf/image/upload/c_scale,h_24/v1600307295/default_profile_pic_ypyuhz.png" alt="user-avatar" style="crop:fill"> <%= @solution.user.first_name %> <%= @solution.user.last_name %></span></p>
      <% end %>
    </div>    
    <h6>COLLABORATORS</h6>
    <% @solution.collaborators.each do |user|%> 
      <% if user.photo.attached? %>
        <p><%= cl_image_tag user.photo.key, height: 24, width: 24, crop: :fill, gravity: :face %> <%= user.first_name %> <%= user.last_name  %></p>
      <% else %>
          <p><span><img src="https://res.cloudinary.com/docykmjwf/image/upload/c_scale,h_24/v1600307295/default_profile_pic_ypyuhz.png" alt="user-avatar" style="crop:fill"> <%= @solution.user.first_name %> <%= @solution.user.last_name %></span></p>
      <% end %>
    <% end %>
    <div>
      <p><span>
        <div class="actions">
          <% if Vote.where(votable: @solution, user:  current_user).empty? %>
            <%= link_to upvote_solution_path(@solution, @solution.problem), method: :post, class: 'button'  do %>
              <i class="far fa-thumbs-up"></i>
            <% end %>
          <% else %>
            <i class="fas fa-thumbs-up"></i>
          <% end %>
          <%= @solution.votes.count %>
        </div>
      </span></p>
    </div>
    <div>
      <p><%= local_time_ago(@solution.created_at) %></p>
    </div>
  </div>


  <div>
    <h4>Pitches</h4>
    <div>
      <%= link_to 'Submit a pitch', new_problem_solution_pitch_path(@solution.problem, @solution), class: 'small-btn' %>
      <% if @solution.pitches.exists? %>
        <% @pitches.each do |pitch| %>
          <h5><%= link_to pitch.title, pitch_path(pitch) %></h5>
          <p><%= pitch.description %></p>

          <div class="actions">
            <% if Vote.where(votable: pitch, user:  current_user).empty? %>
              <%= link_to upvote_problem_path(pitch), method: :post, class: 'button'  do %>
                <i class="far fa-thumbs-up"></i>
              <% end %>
            <% else %>
              <i class="fas fa-thumbs-up"></i>
            <% end %>
            <span><%= pitch.votes.count %></span>
          </div>
        <% end %>
        <% @solution.pitches.each do |pitch| %>
          <div class="pitch-link">
            <iframe src="<%= pitch.link %>" style="border:0px #ffffff none;" name="myiFrame" scrolling="no" frameborder="1" marginheight="0px" marginwidth="0px" height="250px" width="350px" allowfullscreen></iframe>
          </div>
        <% end %>

      <% else %>
        <p>When all you husslrs are ready, submit link/files for your pitch!</p>
      <% end %>

    </div>
  </div>
</div>
