<div>
	<h2><%= @solution.title %></h2>
    <div class="actions">
      <% if @solution.collaborators.include?(current_user) %>
        <i class="fas fa-hand-paper"></i>
      <% else %>
        <%= link_to upvote_solution_path(@solution, @solution.problem), method: :post, class: 'button'  do %>
          <i class="far fa-hand-paper"></i>
        <% end %>
      <% end %>
      <% if Vote.where(votable: @solution, user:  current_user).empty? %>
        <%= link_to upvote_solution_path(@solution, @solution.problem), method: :post, class: 'button'  do %>
          <i class="far fa-star"></i>
        <% end %>
      <% else %>
        <i class="fas fa-star"></i>
      <% end %>
    </div>
</div>

<div>
	<h5>Solving</h5>
  <p><%= @solution.problem.title %></p>
  <h5>Description</h5>
	<p><%= @solution.description %></p>
	<h6>POSTED BY</h6>
	<p><%= @solution.user.first_name %> <%= @solution.user.last_name %></p>
	<div>
		<p>Votes: <%= @solution.votes.count %></p>
	</div>
</div>

<div>
<h3>Pitch</h3>
</div>

<%= link_to 'Submit a pitch', new_problem_solution_pitch_path(@solution.problem, @solution) %>
