<!DOCTYPE html>
<html>
  <head>
    <title>hussl. - For the problem solvers, idea thinkers and future founders. </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag %>
    <meta property="og:title" content="hussl. - For the problem solvers, idea thinkers and future founders."/>
    <meta property="og:description" content="Find your community of like-minded problem solvers and idea generators. Share all kinds of problems, suggest solutions for them and collaborate with other husslrs to refine your solution and pitch it to the world! You'll feel right at home with Hussl."/>
    <meta property="og:type" content="web application"/>
    <meta property="og:url" content="https://www.hussl.co"/>
    <meta property="og:image" content="https://res.cloudinary.com/docykmjwf/image/upload/v1600999450/zachary-keimig-Wz-5buxsNqA-unsplash_wsvzps.jpg"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable"  content="yes">

    <%# <link rel="manifest" href="<%= asset_path 'manifest.json' %>

    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
